@{
    ViewData["Title"] = "BYU Basketball";
}

<div class="text-center">
    <h1 class="display-4">BYU Basketball Fan Page</h1>
    <img src="~/BYU1.webp" alt="Marriot Center" width="500px"/> <img src="~/BYU2.webp" alt="Team" width="500px" />
    <br /><br />

    <p>Welcome to the fan page of the BYU Cougars Men's Basketball Team- the greatest collegiate
        basketball team in the country. Go Cougs!
    </p>

    <br />
    <p>
        This season has been particularly as the Cougars have enjoyed relative success, far surpassing 
        preseason expectations. The team faced little turnover, bidding farewell to seniors Rudy Williams and
        Gideon George. The team welcomed just a few newcomers, including 4-star freshman recruit Marcus Adams,
        guard Dawson Baker from UC-Irvine, and most notably, Egyptian big man transfer Aly Khalifa. Though Adams
        and Baker have been limited by injuries, Khalifa has played a critical role for the Cougars, starting in
        and adding a new element to BYU's game with his passing and high-IQ play.
    </p>
    <br />
    <p>
        Other notable players this season have been Fousseyni Traore, Noah Waterman, Dallin Hall, Spencer Johnson,
        Richie Saunders, Trevin Knell, and Jaxson Robinson. Traore, referred to as "Fouss", has faced some injury
        struggles but has continued toi be a strong post prescence for the Cougars. Waterman and Saunders have both
        taken significant steps from last season, cementing themselves as critical role players with consistent 
        scoring, defence, and hustle. Hall has proven he can be a legitimate starting point guard, leading BYU as the
        floor general and providing steady shooting. Johnson, a veteran and team leaders, has provided consistent
        skillful and smart play on both ends of the floor. Knell has returned from injury and is a knockdown shooter.
        Lastly, Robinson has garnered attention from NBA scouts as a lengthy, athletic wing with a pure shooting stroke,
        shot-creation ability, and sky-high potential.
    </p>
    <br />
    <p>
        The Cougars have largely boasted a succesful record this season, standing at 16-6 at the time of this 
        writing. Notable victories include a tough win over San Diego State at the beginning of the season, and a
        15 point romping of highly ranked Iowa State at home. The Cougars have also experienced heartbreak, losing
        to rival Utah in Salt Lake City and falling to top 5 ranked Houston at home after nrealy pulling away. All in
        all, BYU has played very well, as every loss has been close and many wins have been dominant. In the middle of 
        pack of the Big 12, the best conference in college basketball, this season has already been a huge success for
        the Cougars as they are far outperforming what was expected of them an appear primed to make their first NCAA
        tournament in over a decade.
    </p>
</div>
